*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

.copia-google{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.cabecera{
    display: flex;
    width: 100%;
}

.cabecera nav{
    margin-top: 1.5rem;
}

.cabecera a{
    font-size: 2.5rem;
    margin: 10rem 2rem;
}

.cuerpo {
    width: 100%;
    font-size: 3.5rem;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.cuerpo picture{
    width: 100%;
}

.cuerpo section{
    width: 100%;
}

.cuerpo button {
    font-size: 2.5rem;
    margin: 3rem 1rem;
    width: 23rem;
    border-radius: 1rem;
}

.cuerpo img {
    display: block;
    width: 50rem;
    margin: 10rem auto;
}

.cuerpo input{
    display: block;
    width: 50rem;
    height: 4rem;
    margin: 3rem auto;
    border-radius: 1.6rem;
}

.cuerpo a {
    margin-left: 1rem;
}


.cuerpo section{
    display: flex;
    justify-content: center;
}

.pie-de-pagina{
    margin-top: 23rem;
    font-size: 2rem;
    width: 100%;
    height: 10rem;
    display: flex;
    flex-wrap: wrap;
    background-color: #C0E9EF;
}

.pie-de-pagina__pais{
    font-size: 1.7rem;
    width: 100%;
    margin-top: 2rem;
    margin-left: 2rem;
}

.pie-de-pagina__more{
    display: flex;
    width: 70%;
}

.pie-de-pagina__more a{
    margin: 0 2rem;
}

.pie-de-pagina__setting {
    display: flex;
    width: 30%;
    justify-content: flex-end;
}

.pie-de-pagina__setting a{
    margin: 0 3rem;
}